opencv-python==4.2.0
lxml
tqdm
tensorflow==2.3.0rc0
absl-py
easydict
matplotlib
pillow


(***) darknet(cfg/yolov4-tiny.cfg)과
tensorflow-yolov4-tflite(core/config.py)에
정의된 Anchor 사이즈를 일치시켜야 한다.
 - darknet/cfg/yolov4-tiny.cfg 배포본: [10,14, 23,27, 37,58, 81,82, 135,169, 344,319]
 - darknet/_custom_running/yolov4-custom.cfg : [17,6, 13,14, 27,9, 63,63, 139,63, 100,110]
 - tensorflow-yolov4/core/config.py : [17,6, 13,14, 27,9, 63,63, 139,63, 100,110]

